*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background: url("https://cdn2.zzzmh.cn/wallpaper/origin/5c23d52f880511ebb6edd017c2d2eca2.jpg?response-content-disposition=attachment&auth_key=1660492800-875d533129a7ebacecf1b276e5f64224-0-bd3473f87596e8d80649c62a80cb965e") no-repeat ;
    background-size: 100%;
    cursor: url(https://cdn.jsdelivr.net/gh/DIYgod/diygod.me/themes/sagiri/source/images/cursor.ico),auto;
}
h1 {
    margin:0 auto;
    font-size: 20px;
    text-align: center;
    color: fuchsia;
}

.describe{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: red;
}

.pyg {
    margin: 0 auto;
    text-align: center;
}

.pyg a{
    text-decoration: none;
    color: white;
}

.pyg a:hover{
    color: red;
}
