*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    background: url("https://pic.3gbizhi.com/2021/1227/20211227092309212.jpg") no-repeat ;
    background-size: 100%;
    cursor: url(https://cdn.jsdelivr.net/gh/DIYgod/diygod.me/themes/sagiri/source/images/cursor.ico),auto;
}


.pyg {
    margin: 0 auto;
    text-align: center;
}

.pyg a{
    text-decoration: none;
    color: white;
}

.pyg a:hover{
    color: red;
}
