/*sidebar start*/

.sidebar {
    float: left;
    position: sticky;
    top: 0;
    width: 67px;
    margin-top: 250px;
    margin-left: 30px;
    border-top: solid 1px #ededed;
}

.sidebar li a {
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 12px;
    border-bottom: solid 1px #ededed;
}

.sidebar li a:hover {
    background-color: #c81623;
    color: white;
}

/*sidebar end*/


/*main start*/

.main {
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;

}

.focus {
    float: left;
    height: 100%;
    width: 720px;
    background: url("../upload/focus1.png") no-repeat;
}

.newsflash {
    float: left;
    width: 250px;
    height: 100%;
    margin-left: 10px;
}

.news {
    height: 165px;
    border: solid 1px #e3e3e3;
}

.news .dt {
    height: 35px;
    border-bottom: dotted 1px #e3e3e3;

}

.news .dt h3 {
    float: left;
    padding-top: 10px;
    padding-left: 17px;
    font-size: 14px;
}

.news .dt a {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
    font-weight: normal;
    font-size: 12px;
}

.news .dt a::after {
    content: "\e920";
    font-family: "icomoon";
}

.news .dd {
    margin-top: 10px;
}

.news .dd li {
    height: 23px;
    padding-left: 18px;
    padding-right: 10px;
    line-height: 23px;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 210px;
    overflow: hidden;
    border-left: solid 1px #e3e3e3;
    border-right: solid 1px #e3e3e3;
}


.lifeservice ul {
    width: 256px;
}

.lifeservice a {
    float: left;
    height: 70px;
    width: 64px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.lifeservice li:nth-child(2) a {
    position: relative;
}


.lifeservice li:nth-child(2) a .mark {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
}

.lifeservice li:nth-child(2) a .mark .triangle {
    position: absolute;
    z-index: 0;
    border-style: solid;
    border-color: green green transparent green;
    border-width: 12px 6px 3px 6px;
}

.lifeservice li:nth-child(2) a .mark .word {
    position: absolute;
    z-index: 1;
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: white;
}

.lifeservice li {
    text-align: center;
}

.lifeservice li:first-child span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -18px -16px;
}

.lifeservice li:first-child span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -18px -16px;
}

.lifeservice li:nth-child(2) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -79px -17px;
}

.lifeservice li:nth-child(3) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -16px;
}

.lifeservice li:nth-child(4) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -205px -16px;
}

.lifeservice li:nth-child(5) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -18px -88px;
}

.lifeservice li:nth-child(6) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -79px -88px;
}

.lifeservice li:nth-child(7) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -88px;
}

.lifeservice li:nth-child(8) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -208px -88px;
}

.lifeservice li:nth-child(9) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -18px -158px;
}

.lifeservice li:nth-child(10) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -79px -158px;
}

.lifeservice li:nth-child(11) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -140px -158px;
}

.lifeservice li:nth-child(12) span {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url("../images/icons.png") no-repeat -205px -158px;
}

.bargain a {
    display: block;
    height: 75px;
    margin-top: 5px;
    background: url("../upload/bargain.png") no-repeat;
}

/*main end*/

/*recommend start*/
.recommend {
    height: 163px;
    margin-top: 12px;
}

.recommend .dt {
    float: left;
    height: 100%;
    width: 208px;
    background: #5b5150 url("../images/recom.png") no-repeat center;
}

.recommend .dd {
    float: left;
}

.recommend li {
    position: relative;
    float: left;
}

.recommend li:nth-child(-n+3)::after {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    height: 145px;
    width: 1px;
    background-color: #ddd;

}

.recommend li a {
    display: inline-block;
    height: 163px;
    width: 247px;
    background: url("../upload/recommend-01.png") no-repeat;
    background-size: 100% 100%;
}


.recommend li:nth-child(2) a {
    background: url("../upload/recommend-02.png") no-repeat;
    background-size: 100% 100%;
}

.recommend li:nth-child(3) a {
    background: url("../upload/recommend-03_03.png") no-repeat;
    background-size: 100% 100%;
}

.recommend li:nth-child(4) a {
    background: url("../upload/recom_03.jpg") no-repeat;

}

/*recommend end*/

/*guess start*/
.guess {
    margin-top: 20px;
    height: 295px;
}

.guess-hd {
    height: 30px;
}

.guess-hd h3 {
    float: left;
    font-size: 18px;
    line-height: 30px;
}

.guess-hd a {
    float: right;
    line-height: 30px;
}

.guess .guess-hd a::after {
    content: "\ea2e";
    margin-left: 10px;
    font-family: icomoon;
}

.guess-bd {
    height: 235px;
    border: solid 1px #ededed;
    text-align: center;
}

.guess-bd li {
    position: relative;
    float: left;
    width: 199px;
    height: 235px;
    padding-top: 20px;
}

.guess-bd li a i {
    display: inline-block;
    width: 160px;
    height: 141px;
}

.guess-bd li a strong {
    color: #c81623;
    font-size: 18px;
}

.guess-bd li:nth-child(-n+5)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 65px;
    bottom: 10px;
    right: 0;
    background: #ddd;
}

.guess-bd li:nth-child(4) i {
    margin-top: 40px
}

.guess-bd li:nth-child(4) i {
    height: 101px;
}

/*guess end*/

/* funny start */

.funny {
    height: 435px;
}

.funny-hd h3 {
    font-size: 18px;
}

.funny-bd {
    height: 410px;
    border: solid 1px #ededed;
    overflow: hidden;
}

.funny-bd .book {
    float: left;
    position: relative;
    width: 405px;
    height: 100%;
    background: #b8bddd;

}

.funny-bd .book a {
    display: block;
    width: 100%;
    height: 100%;
}

.funny-bd .book img {
    position: absolute;
    bottom: 30px;
    right: 55px;
}

.funny-bd .book a div {
    position: absolute;
    left: 20px;
    top: 24px;
}

.funny-bd .book p {
    color: #3b468d;
}

.funny-bd .book p:first-child {
    font-size: 18px;
}

.funny-bd .book p:nth-child(2) {
    font-size: 16px;
}

.funny-bd .goodstuff {
    float: left;
    width: 225px;
    height: 100%;
}

.goodstuff dt {
    width: 195px;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    text-align: center;
    border-bottom: dotted 1px #e3e3e3;
    font-size: 14px;
    font-weight: bold;
}

.goodstuff dd:nth-child(2) a {
    position: relative;
    display: inline-block;
    height: 210px;
    width: 225px;
    border-bottom: solid 1px #e3e3e3;
}

.goodstuff dd:nth-child(2) img {
    position: absolute;
    top: 30px;
    right: 0;
}

.goodstuff dd:nth-child(2) .word {
    position: absolute;
    top: 67px;
    left: 7px;
}

.goodstuff dd:nth-child(2) .word p:first-child {
    font-size: 16px;
    font-weight: bold;
}

.goodstuff dd:nth-child(2) .word p:nth-child(2) {
    font-size: 12px;
}

.goodstuff dd:nth-child(2) .word p:nth-child(3) {
    font-size: 12px;
    color: #c81623;
}

.goodstuff dd:nth-child(3) a {
    position: relative;
    display: inline-block;
    height: 158px;
    width: 225px;
}

.goodstuff dd:nth-child(3) img {
    position: absolute;
    top: 10px;
    right: 0;
}

.goodstuff dd:nth-child(3) .word {
    position: absolute;
    top: 67px;
    left: 7px;
}

.goodstuff dd:nth-child(3) .word p:first-child {
    font-size: 16px;
    font-weight: bold;
}

.goodstuff dd:nth-child(3) .word p:nth-child(2) {
    font-size: 12px;
}

.goodstuff dd:nth-child(3) .word p:nth-child(3) {
    font-size: 12px;
    color: #c81623;
}

.funny-bd .street {
    float: left;
    width: 405px;
    height: 100%;
    background-color: #f7f7f7;
    border-left: solid 1px #e3e3e3;

}

.street .title {
    width: 365px;
    height: 40px;
    line-height: 40px;
    border-bottom: dotted 1px #e3e3e3;
    margin: 0 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.street .suboer a {
    display: block;
    position: relative;
    height: 210px;
    border-bottom: solid 1px #e3e3e3;
}

.street .suboer a .word {
    position: absolute;
    top: 73px;
    left: 50px;
}

.street .suboer a .word p:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;

}

.street .suboer a .word p:nth-child(2) {
    font-size: 12px;

}

.street .suboer a .word p:last-child {
    font-size: 12px;
    color: #c81623;
}

.street .suboer a img {
    position: absolute;
    top: 37px;
    right: 0;
}

.street .shoes a {
    display: block;
    position: relative;
    height: 160px;
    width: 203px;

}

.street .shoes a .word {
    position: absolute;
    top: 52px;
    left: 15px;
}

.street .shoes a .word p:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;

}

.street .shoes a .word p:nth-child(2) {
    font-size: 12px;

}

.street .shoes a .word p:last-child {
    font-size: 12px;
    color: #c81623;
}

.street .shoes a img {
    position: absolute;
    top: 30px;
    right: 0;
}

.street .t a {
    display: block;
    position: relative;
    height: 160px;
    width: 201px;
    border-left: solid 1px #e3e3e3;
}

.street .t a .word {
    position: absolute;
    top: 52px;
    left: 15px;
}

.street .t a .word p:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 48px;

}

.street .t a .word p:nth-child(2) {
    font-size: 12px;
}

.street .t a .word p:last-child {
    font-size: 12px;
    color: #c81623;
}

.street .t a img {
    position: absolute;
    top: 30px;
    right: 0;
}

.funny-bd .brand {
    float: left;
    width: 163px;
    height: 100%;
    background: url("../upload/图层 136.png") no-repeat;
}

/* funny end */

/*floor start*/

.electric-appliance {
    height: 510px;
    padding-top: 30px;
    overflow: hidden;
}

.electric-appliance .dt {
    height: 30px;
    border-bottom: solid 2px #c81623;
}

.electric-appliance .dt h3 {
    float: left;
    font-size: 18px;
    line-height: 30px;
    color: #c81623;
}

.electric-appliance .dt ul {
    float: right;
    line-height: 30px;
}

.electric-appliance .dt ul li {
    float: left;
    font-size: 12px;
}

.electric-appliance .dt ul li a {
    float: left;
    margin: 0 15px;
    font-size: 12px;
}

.electric-appliance .dd .dd1 {
    float: left;
    width: 210px;
    height: 360px;
    background: #f9f9f9;
    border-left: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd1 ul {
    height: 100px;
}

.electric-appliance .dd .dd1 ul {
    height: 100px;
}

.electric-appliance .dd .dd1 ul li {
    float: left;
    height: 33px;
    width: 85px;
    margin-left: 13px;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd1 ul li a {
    float: left;
    height: 100%;
    width: 100%;
    line-height: 33px;
    text-align: center;
}

.electric-appliance .dd .dd1 .pic a {
    position: relative;
    display: block;
    height: 260px;
    width: 210px;
}

.electric-appliance .dd .dd1 .word {
    position: absolute;
    top: 25px;
    left: 50px;
    color: #c81623;
    text-align: center;
}

.electric-appliance .dd .dd1 .word p:first-child {
    font-size: 18px;
}

.electric-appliance .dd .dd1 .word p:last-child {
    font-size: 12px;
}


.electric-appliance .dd .dd1 .pic a img {
    position: absolute;
    left: 25px;
    bottom: 35px;
}

.electric-appliance .dd .dd2 {
    float: left;
    width: 330px;
    height: 360px;
    background: #aed6d8;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd2 a {
    position: relative;
    display: block;
    width: 330px;
    height: 360px;
}


.electric-appliance .dd .dd2 a .word {
    position: absolute;
    color: #066c7d;
    top: 37px;
    left: 30px;
}

.electric-appliance .dd .dd2 a .word .p1 {
    font-size: 16px;
}

.electric-appliance .dd .dd2 a .word .p2 {
    font-size: 12px;
}

.electric-appliance .dd .dd2 a img {
    position: absolute;
    bottom: 35px;
    left: 60px;
}

.electric-appliance .dd .dd3 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd3 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd3 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.electric-appliance .dd .dd3 a .word{
    position: absolute;
    top: 25px;
    left: 20px;
}

.electric-appliance .dd .dd3 a .word .p1{
    font-size: 16px;
}

.electric-appliance .dd .dd3 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.electric-appliance .dd .dd3 a img{
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.electric-appliance .dd .dd4 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd4 a {
    position: relative;
    display: block;
    width: 220px;
    height: 360px;
}

.electric-appliance .dd .dd4 a .word{
    position: absolute;
    text-align: center;
    top: 70px;
    left: 30px;
}

.electric-appliance .dd .dd4 a .word .p1{
   font-size: 18px;
}

.electric-appliance .dd .dd4 a .word .p2{
    font-size: 16px;
    color: #999999;
}


.electric-appliance .dd .dd4 a img{
    position: absolute;
    bottom: 55px;
    left: 20px;
}


.electric-appliance .dd .dd5 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd5 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.electric-appliance .dd .dd5 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.electric-appliance .dd .dd5 a .word{
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 20px;
}

.electric-appliance .dd .dd5 a .word .p1{
    font-size: 16px;
}

.electric-appliance .dd .dd5 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.electric-appliance .dd .dd5 a img{
    position: absolute;
    z-index: 0;
    bottom: 1px;
    right: 1px;
}

.electric-appliance .df {
    margin-top: 20px;
}

.mobile {
    height: 510px;
    padding-top: 30px;
    overflow: hidden;
}

.mobile .dt {
    height: 30px;
    border-bottom: solid 2px #c81623;
}

.mobile .dt h3 {
    float: left;
    font-size: 18px;
    line-height: 30px;
    color: #c81623;
}

.mobile .dt ul {
    float: right;
    line-height: 30px;
}

.mobile .dt ul li {
    float: left;
    font-size: 12px;
}

.mobile .dt ul li a {
    float: left;
    margin: 0 15px;
    font-size: 12px;
}

.mobile .dd .dd1 {
    float: left;
    width: 210px;
    height: 360px;
    background: #f9f9f9;
    border-left: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd1 ul {
    height: 100px;
}

.mobile .dd .dd1 ul {
    height: 100px;
}

.mobile .dd .dd1 ul li {
    float: left;
    height: 33px;
    width: 85px;
    margin-left: 13px;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd1 ul li a {
    float: left;
    height: 100%;
    width: 100%;
    line-height: 33px;
    text-align: center;
}

.mobile .dd .dd1 .pic a {
    position: relative;
    display: block;
    height: 260px;
    width: 210px;
}

.mobile .dd .dd1 .word {
    position: absolute;
    top: 25px;
    left: 30px;
    color: #c81623;
    text-align: center;
}

.mobile .dd .dd1 .word p:first-child {
    font-size: 18px;
}

.mobile .dd .dd1 .word p:last-child {
    font-size: 12px;
}


.mobile .dd .dd1 .pic a img {
    position: absolute;
    left: 25px;
    bottom: 35px;
}

.mobile .dd .dd2 {
    float: left;
    width: 330px;
    height: 360px;
    background: #c6e8b6;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd2 a {
    position: relative;
    display: block;
    width: 330px;
    height: 360px;
}


.mobile .dd .dd2 a .word {
    position: absolute;
    color: #4c852a;
    top: 37px;
    left: 30px;
}

.mobile .dd .dd2 a .word .p1 {
    font-size: 16px;
}

.mobile .dd .dd2 a .word .p2 {
    font-size: 12px;
}

.mobile .dd .dd2 a img {
    position: absolute;
    bottom: 35px;
    left: 60px;
}

.mobile .dd .dd3 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd3 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd3 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.mobile .dd .dd3 a .word{
    position: absolute;
    top: 25px;
    left: 20px;
}

.mobile .dd .dd3 a .word .p1{
    font-size: 16px;
}

.mobile .dd .dd3 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.mobile .dd .dd3 a img{
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.mobile .dd .dd4 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd4 a {
    position: relative;
    display: block;
    width: 220px;
    height: 360px;
}

.mobile .dd .dd4 a .word{
    position: absolute;
    text-align: center;
    top: 70px;
    left: 30px;
}

.mobile .dd .dd4 a .word .p1{
    font-size: 18px;
}

.mobile .dd .dd4 a .word .p2{
    font-size: 16px;
    color: #999999;
}


.mobile .dd .dd4 a img{
    position: absolute;
    bottom: 55px;
    left: 20px;
}


.mobile .dd .dd5 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd5 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.mobile .dd .dd5 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.mobile .dd .dd5 a .word{
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 20px;
}

.mobile .dd .dd5 a .word .p1{
    font-size: 16px;
}

.mobile .dd .dd5 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.mobile .dd .dd5 a img{
    position: absolute;
    z-index: 0;
    bottom: 1px;
    right: 1px;
}

.mobile .df {
    margin-top: 20px;
}

.computer {
    height: 510px;
    padding-top: 30px;
    overflow: hidden;
}

.computer .dt {
    height: 30px;
    border-bottom: solid 2px #c81623;
}

.computer .dt h3 {
    float: left;
    font-size: 18px;
    line-height: 30px;
    color: #c81623;
}

.computer .dt ul {
    float: right;
    line-height: 30px;
}

.computer .dt ul li {
    float: left;
    font-size: 12px;
}

.computer .dt ul li a {
    float: left;
    margin: 0 15px;
    font-size: 12px;
}

.computer .dd .dd1 {
    float: left;
    width: 210px;
    height: 360px;
    background: #f9f9f9;
    border-left: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd1 ul {
    height: 100px;
}

.computer .dd .dd1 ul {
    height: 100px;
}

.computer .dd .dd1 ul li {
    float: left;
    height: 33px;
    width: 85px;
    margin-left: 13px;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd1 ul li a {
    float: left;
    height: 100%;
    width: 100%;
    line-height: 33px;
    text-align: center;
}

.computer .dd .dd1 .pic a {
    position: relative;
    display: block;
    height: 260px;
    width: 210px;
}

.computer .dd .dd1 .word {
    position: absolute;
    top: 25px;
    left: 30px;
    color: #c81623;
    text-align: center;
}

.computer .dd .dd1 .word p:first-child {
    font-size: 18px;
}

.computer .dd .dd1 .word p:last-child {
    font-size: 12px;
}


.computer .dd .dd1 .pic a img {
    position: absolute;
    left: 25px;
    bottom: 35px;
}

.computer .dd .dd2 {
    float: left;
    width: 330px;
    height: 360px;
    background: #d7aac9;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd2 a {
    position: relative;
    display: block;
    width: 330px;
    height: 360px;
}


.computer .dd .dd2 a .word {
    position: absolute;
    color: #874d75;
    top: 37px;
    left: 30px;
}

.computer .dd .dd2 a .word .p1 {
    font-size: 16px;
}

.computer .dd .dd2 a .word .p2 {
    font-size: 12px;
}

.computer .dd .dd2 a img {
    position: absolute;
    bottom: 35px;
    left: 60px;
}

.computer .dd .dd3 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd3 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd3 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.computer .dd .dd3 a .word{
    position: absolute;
    top: 25px;
    left: 20px;
}

.computer .dd .dd3 a .word .p1{
    font-size: 16px;
}

.computer .dd .dd3 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.computer .dd .dd3 a img{
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.computer .dd .dd4 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd4 a {
    position: relative;
    display: block;
    width: 220px;
    height: 360px;
}

.computer .dd .dd4 a .word{
    position: absolute;
    text-align: center;
    top: 70px;
    left: 30px;
}

.computer .dd .dd4 a .word .p1{
    font-size: 18px;
}

.computer .dd .dd4 a .word .p2{
    font-size: 16px;
    color: #999999;
}


.computer .dd .dd4 a img{
    position: absolute;
    bottom: 55px;
    left: 20px;
}


.computer .dd .dd5 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: solid 1px #e3e3e3;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd5 .a1{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
    border-bottom: solid 1px #e3e3e3;
}

.computer .dd .dd5 .a2{
    position: relative;
    display: block;
    width: 220px;
    height: 180px;
}

.computer .dd .dd5 a .word{
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 20px;
}

.computer .dd .dd5 a .word .p1{
    font-size: 16px;
}

.computer .dd .dd5 a .word .p2{
    font-size: 14px;
    color: #c81623;
}


.computer .dd .dd5 a img{
    position: absolute;
    z-index: 0;
    bottom: 1px;
    right: 1px;
}

.computer .df {
    margin-top: 20px;
}

.hothot{
    height: 315px;
    margin-top: 30px;
}

.hothot .dt h3{
    font-size: 18px;
}
/*floor end*/